@font-face {
    font-family: nightmarePillFont;
    src: url(asset/nightmarepills.woff);
}
/* declare color variables to use throughout stylesheet */
:root {
    background-color: var(--main-color-dark);
    --main-color-dark: #404040;
    --main-color: #757575;
    --main-color-light: #8f8e8e;
    --accent-color: rgb(194, 149, 24);
}

/* set the width, height and alignment of the containers*/
.container {
    display: flex;
    width: 95vw;
    height: 95vh;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:2vh;
}

/* set the width and height of the background image */
.titleBackground {
    width: 40vh;
    height: 75vh;
}

/* layer the title container over the background image */
.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
}

/* style the container for the title and logo */
.title {
    display: flex;
    width: 40vh;
    height: clamp(50px, 10vw, 100px);
    background-color: #a3a3a39f;
    position: absolute;
    align-items: center;
    justify-content: center;
}

/* change the size of the logo to be adaptive */
.runeLogo {
    height: 5vh;
}

/* style the title text of the title*/
.textTitle {
    font-family: nightmarePillFont;
    background-image: linear-gradient(45deg, rgb(255, 230, 0), darkred);
    background-size: 10%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    padding-left: 3vh;
    font-size: max(24px, 7vh);
}

/* style the content area of the page */
.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: max(500px, 50vw);
    height: 75vh;
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* spacing for the introduction paragraph */
.contentText {
    font-size: 1.15rem;
    margin: 2vh;
}
/* coloring and sizing for the form backdrop */
.signup {
    background-color: var(--main-color-light);
    box-shadow: 0px 3px 10px var(--main-color-dark);
    width: 100%;
}
/* spacing for the form title*/
legend {
    margin:20px 0 10px 20px;
}
/* styling for the input fields */
input {
    display:block;
    width: 19vw;
    padding: 10px;
    border: 2px solid var(--main-color-dark);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.1);
    background-color: #8f8e8e;
}
/* change color on focus of input fields */
input:focus {
    outline: var(--accent-color) solid 2px;
}
/* validation lines to provide feedback to the user */
input:valid:not(:focus):not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red;
}

 /* spacing for the input fields */
.inputField {
    margin:10px 20px;
}

/* styling the Create Account button */
button {
    background-color: var(--accent-color);
    border: 2px solid rgb(110, 61, 1);
    border-radius: 12px;
    height: max(20px, 5vh);
    width: max(200px, 10vw);
    box-shadow: 5px 0 15px 5px rgba(0,0,0,0.1);
    font-size: 1.2rem;
    margin:20px;
}

/* spacing for the account login prompt */
.loginPrompt {
    margin:20px
}

/* customising the color of the link for login */
.loginPrompt > a:link{
    color: darkred;
}

.loginPrompt > a:visited {
    color: darkorange;
}

.loginPrompt > a:hover {
    color: orange;
}

.loginPrompt > a:active {
    color: orange;
}
